<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Corrigir Imagens</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/sobrinha.png" alt="Minha Sobrinha" class="sobrinha">
    <h1>Corrigir rotação de imagens</h1>
    <form id="upload-form">
        <input type="file" name="files" id="file-input" multiple accept="image/*">
        <button type="submit">Enviar e Corrigir</button>
    </form>
    <div id="result"></div>
    <script src="/static/script.js"></script>
</body>
</html>
